<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/main/main.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="menu">
      <ul>
        <% if (content.category === '' ) { %>
          <li><a href="/" class="focus">首页</a></li>
        <% } else {%>
          <li><a href="/">首页</a></li>
        <% } %>
        <% for(let i = 0, len = categories.length; i < len; i++) { %>
          <% if (content.category == categories[i]._id ) { %>
            <li><a href="/?category=<%=categories[i]._id%>" class="focus"><%= categories[i].name %></a></li>
          <% } else {%>
            <li><a href="/?category=<%=categories[i]._id%>"><%= categories[i].name %></a></li>
          <% } %>
         
        <% } %>          
      </ul>
    </div>
  </nav>

  <% if ( userInfo._uid ) { %>
    <h2><%= userInfo.username %></h2>
    <% if ( userInfo.isAdmin ) { %>
      <span> 你好，伟大的王！ </span> <a href="/admin">进入管理</a>
    <% } else {%>
      <span> 欢迎登陆我的博客 </span>
    <% } %>
  <% } else {%>
    <h2>尚未登录</h2>
  <% } %>
  <div class="login">
    <form action="/api/user/login" method="post">
      <label for="login-username">
        <input type="text" id="login-username" name="username" placeholder="请输入用户名">
      </label>
      <label for="login-password">
        <input type="text" id="login-password" name="password" placeholder="请输入密码">
      </label>
      <label for="login-submit">
        <input type="submit" id="login-submit" value="登陆">
      </label>
    </form>
    <p><span>还没注册？</span><a href="javascript:void(0)" class="toReg">马上注册</a></p>
  </div>
  <div class="register">
    <form action="/api/user/register" method="post">
      <label for="register-username">
        <input type="text" id="register-username" name="username" placeholder="请输入用户名">
      </label>
      <label for="register-password">
        <input type="text" id="register-password" name="password" placeholder="请输入密码">
      </label>
      <label for="check-register-password">
        <input type="text" id="check-register-password" name="repassword" placeholder="请输入密码">
      </label>
      <label for="register-submit">
        <input type="submit" id="register-submit" value="注册">
      </label>
    </form>
    <p><span>已有账号？</span><a href="javascript:void(0)" class="toLogin">马上登陆</a></p>
  </div>
  <div>
    <button class="btn">退出登录</button>
  </div>
  <main>
    <section>
        <div>
          <h1><%= content.title%></h1>
          <p>
            作者：<span><%= content.user.username%></span> -
            时间：<span><%= content.addTime%></span> -
            阅读：<span><%= content.views%></span> -
            评论：<span>10</span> 
          </p>
          <dfn><%= content.content%></dfn>
        </div>
    </section>
    <section>
      <div class="listBox message">
        <h3 class="textLeft"><strong>评论</strong><span>一共有<em id="messageCount">0</em>条评论</span></h3>
        <p class="textLeft">zmouse</p>
        <p class="textLeft clear">
          <textarea id="messageContent" cols="30" rows="10"></textarea>
          <input type="hidden" id="contentId" value="<%=content._id%>">
          <button id="messageBtn" class="submit">提交</button>
        </p>

        <p>你还没有登陆，请先登陆！</p>
      </div>
      <div class="messageList">

      </div>
    </section>
  </main>
</body>
<script src="/public/js/jquery-3.3.1.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/view_index.js"></script>
</html>